:root {
  /* --color-white: hsl(240, 100%, 97%);
    --color-white-warm: hsl(60, 100%, 98%);
    --color-black: hsl(0, 0%, 0%);
    --color-black-mild: hsl(0, 0%, 20%);
    --color-tag-yellow: hsl(50, 100%, 70%);
    --color-tag-orange: hsl(20, 100%, 70%);
    --color-hover: hsl(45, 100%, 50%);
    --color-shadow: hsl(30 100% 40%); */
  --clamp-viewport-min: 320;
  --clamp-viewport-max: 767;
  --clamp-min: 14;
  --clamp-max: 16;
}
@font-face {
  font-family: "shippori mincho b1";
  src: url("/momo/fonts/shippori-mincho-b1-v22-japanese_latin-500.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;

  --clamp-root-font-size: 16;

  --clamp-slope: calc(
    (var(--clamp-max) - var(--clamp-min)) /
      (var(--clamp-viewport-max) - var(--clamp-viewport-min))
  );
  --clamp-intersect: calc(
    var(--clamp-max) - (var(--clamp-slope) * var(--clamp-viewport-max))
  );
  --clamp-variable: calc(
    var(--clamp-intersect) * (1rem / var(--clamp-root-font-size)) +
      (var(--clamp-slope) * 100vw)
  );
  --clamp: clamp(
    calc(var(--clamp-min) * (1rem / var(--clamp-root-font-size))),
    var(--clamp-variable),
    calc(var(--clamp-max) * (1rem / var(--clamp-root-font-size)))
  );
}
@media (min-width: 768px) {
  :root {
    --clamp-viewport-min: 768;
    --clamp-viewport-max: 1024;
  }
}
@media (min-width: 1025px) {
  :root {
    --clamp-viewport-min: 1280;
    --clamp-viewport-max: 2560;
  }
}
body {
  overflow: hidden;
  font-family: "shippori mincho b1", serif;
}
img {
  vertical-align: bottom;
}
h2 {
  text-align: center;
  margin-bottom: 6rem;
}
p {
  max-width: 60ch;
  line-height: 2;
}
li {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}
button {
  font-family: "shippori mincho b1", serif;
  background-color: transparent;
  padding: 0.5rem 1rem;
  width: max-content;
  border-radius: 5rem;
}
.margin-inline-auto {
  margin-inline: auto;
}
.margin-bottom-s {
  margin-bottom: 2rem;
}
.margin-bottom-m {
  margin-bottom: 4rem;
}
.margin-bottom-l {
  margin-bottom: 6rem;
}
.text-center {
  text-align: center;
}
.font-size-s {
  font-size: 0.8rem;
}
.font-size-l {
  font-size: 1.4rem;
}
.line-height-l {
  line-height: 3.6rem;
}
