:root {
  --color-accent: hsl(340, 100%, 40%);
  --color-dark: hsl(50, 7%, 25%);
  --color-light: hsl(50, 90%, 90%);
}
/* @font-face {
  font-family: "shippori mincho b1";
  src: url("/fonts/shippori-mincho-b1-v22-japanese_latin-500.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
} */
@font-face {
  font-family: "shippori mincho b1";
  src: url("/fonts/shippori-mincho-b1-500-subset.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  font-family: "shippori mincho b1", serif;
}
main {
  background-color: hsl(45 100% 90%);
  display: grid;
  place-content: center;
  background-image: url("/images/paper.avif");
  background-size: 200px 200px;
  position: relative;
  padding: 4rem 1rem;
  z-index: 100;
  transform: translate3d(0, 0, 0);
  @media (min-width: 768px) {
    background-size: 200px 200px;
  }
  @media (min-width: 1025px) {
    border-radius: 3rem 3rem 0 0;
    background-size: 400px 400px;
  }
}
img {
  vertical-align: bottom;
}
a {
  color: var(--color-dark);
}
h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
h2 {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 6rem;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1025px) {
    font-size: 1.8rem;
  }
}
p {
  font-size: 0.9rem;
  max-width: 60ch;
  line-height: 2;
  text-align: justify;
  @media (min-width: 768px) {
    font-size: 1.1rem;
  }
  @media (min-width: 1025px) {
    font-size: 1.2rem;
  }
}
li {
  font-size: 0.9rem;
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  @media (min-width: 768px) {
    font-size: 1.1rem;
  }
  @media (min-width: 1025px) {
    font-size: 1.2rem;
  }
}

section {
  display: grid;
  place-content: center;
  margin-block: 6rem;
}

footer {
  display: grid;
  place-content: center;
  margin-block: 12rem;
}

.margin-inline-auto {
  margin-inline: auto;
}
.margin-bottom-s {
  margin-bottom: 2rem;
}
.margin-bottom-m {
  margin-bottom: 4rem;
}
.margin-bottom-l {
  margin-bottom: 6rem;
}
.text-center {
  text-align: center;
}
.font-size-l {
  font-size: 1.1rem;
  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
  @media (min-width: 1025px) {
    font-size: 1.3rem;
  }
}
.line-height-l {
  line-height: 3.6rem;
}
