---
import Loading from "../components/Loading.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
const transitionTime = "1.5s";
---

<Layout
  title="小説「モモ」紹介サイト"
  description="ミヒャエル・エンデの小説「モモ」を紹介するアンオフィシャルサイトです。"
>
  <body>
    <Loading />
    <div class="contaigner">
      <div class="image-wrapper">
        <img class="title" src="/momo/images/title.avif" alt="" />
        <img class="cover" src="/momo/images/cover.avif" alt="" />
      </div>

      <main class="main">
        <section id="table-of-contents" class="table-of-contents">
          <h2>もくじ</h2>
          <ul>
            <li>「モモ」とは？</li>
            <li>あらすじ</li>
            <li>登場人物</li>
            <li>「モモ」の魅力</li>
          </ul>
        </section>
        <section id="about" class="about">
          <img
            class="decoration"
            src="/momo/images/text-decoration.svg"
            alt=""
          />
          <h2>「モモ」とは？</h2>
          <p class="margin-bottom-m">
            「モモ」は、<span class="accent"
              >ドイツの児童文学作家ミヒャエル・エンデ</span
            >が1973年に発表した<span class="accent">ファンタジー小説</span
            >です。この作品は、<span class="accent">「時間」</span
            >という概念を深く洞察し、現代社会にも通じる普遍的なテーマを探求しています。
          </p>
          <p class="text-center margin-bottom-m line-height-l">
            <span class="accent">時間の本質</span
            >とは何か？私たちは時間をどう捉え、使うべきか？<br />
            忙しさに追われる現代人の生き方への問いかけ<br />
            <span class="accent">「時間を節約する」</span
            >ことの真の意味と、その落とし穴<br />
            <span class="accent">「いま」</span>を十分に生きることの価値
          </p>
          <p>
            ⠀これらのテーマが、魅力的なストーリーを通じて描かれ、世界中の読者を魅了しています。「モモ」はさまざまな言語に翻訳され、文化や年齢を超えて、子どもから大人まで幅広い読者に愛され続けている現代の名作です。時代が変わっても色褪せない<span
              class="accent">「時間」</span
            >への洞察は、私たちに日々の過ごし方を見つめ直す貴重な機会を与えてくれます。
          </p>
        </section>
        <section class="story">
          <img
            class="decoration"
            src="/momo/images/text-decoration.svg"
            alt=""
          />
          <h2>あらすじ</h2>
          <p class="margin-bottom-s">
            ある日、古い円形劇場の跡地に現れた<span class="accent"
              >不思議な少女モモ。</span
            >靴も履かず、ボサボサの髪をした彼女に、最初は戸惑う街の人々。しかし、モモの純真さと優しさに触れるうちに、みんなで協力して彼女を円形劇場に住まわせることに決めます。
          </p>
          <p class="margin-bottom-s">
            モモには<span class="accent">特別なちから</span
            >がありました。それは、<span class="accent"
              >人の話を心から聞くことができるちから</span
            >です。モモに話を聞いてもらうと、悩みが解決したり、アイデアが浮かんだり、喧嘩をしていた人同士が仲直りしたりします。モモの存在により、街全体が明るく、温かな雰囲気に包まれるようになりました。
          </p>
          <p>
            ところがある日、<span class="accent">灰色の服を着た謎の男たち</span
            >が街に現れます。彼らは<span class="accent">「時間貯蓄銀行」</span
            >の職員と名乗り、人々に<span class="accent">「時間を節約しろ」</span
            >と囁きます。その言葉に惑わされた人々は、だんだん余裕をなくし、お互いに冷たくなっていきます。モモは、大切な友達や街の人々が変わっていく様子に気づき、この謎を解き明かそうと決意します。そして、甲羅に文字を浮かび上がらせて会話をすることができる不思議な亀のカシオペイアと出会い、導かれ、<span
              class="accent">灰色の男たちとは一体なんなのか</span
            >、そして<span class="accent">「時間」とは一体なんなのか</span
            >という謎に迫っていきます。
          </p>
        </section>
        <section class="character">
          <img
            class="decoration"
            src="/momo/images/text-decoration.svg"
            alt=""
          />
          <h2>登場人物</h2>
          <p class="text-center margin-bottom-s font-size-l">モモ</p>
          <p class="margin-bottom-l">
            <span class="accent">物語の主人公である不思議な少女。</span
            >年齢も出身も定かではありません。大きな黒い目と、ボサボサの髪が特徴的です。モモの最大の能力は<span
              class="accent">「聞くこと」。</span
            >彼女は相手の話を心から聞き、理解することができます。この能力により、人々の悩みを解決したり、創造性を引き出したりします。
          </p>
          <p class="text-center margin-bottom-s font-size-l">ベッポ</p>
          <p class="margin-bottom-l">
            <span class="accent">モモの親友。</span>街の道路掃除人。<span
              class="accent">小柄で少し背中が曲がった老人</span
            >で、短く白い髪で、鼻に小さなめがねをかけています。ベッポは物事をゆっくりと、しかし確実に進める哲学を持っています。息をするように掃除をし、一歩一歩確実に前に進むことの大切さをモモに教えます。寡黙ですが、話すときは深い洞察に満ちた言葉を紡ぎ出します。
          </p>
          <p class="text-center margin-bottom-s font-size-l">ジジ</p>
          <p class="margin-bottom-l">
            <span class="accent">モモのもう一人の親友。</span
            >街の観光案内人。<span class="accent"
              >夢見るような目をした器量の良い若者</span
            >です。口達者で、たえず冗談をふりまき、みんなを笑顔にします。観光客にでたらめな物語をしゃべってもそれを本当の話だと信じ込ませる話術があります。物語を話すことが大好きで、聞くことに長けたモモとの出会いで、ジジの空想力は春の野のように花ひらきます。
          </p>
          <p class="text-center margin-bottom-s font-size-l">灰色の男たち</p>
          <p class="margin-bottom-l">
            「時間貯蓄銀行」の職員を名乗る謎の集団。灰色の立派な服を着て、灰色の顔をし、灰色の帽子をかぶっています。<span
              class="accent">常に葉巻をくゆらせ、</span
            >灰色の車で移動します。<span class="accent"
              >彼らの目的は人々から「時間」を奪うこと。</span
            >効率や生産性を重視するよう人々を誘導し、結果として人々の人生から喜びを奪っていきます。冷たく、計算高く、計画を実行していきます。
          </p>
          <p class="text-center margin-bottom-s font-size-l">カシオペイア</p>
          <p class="margin-bottom-l">
            甲羅に文字を浮かび上がらせて、会話をすることができる不思議な亀。ある日、円形劇場に現れ、モモをとある場所に導いていきます。
          </p>
        </section>
        <section class="feature">
          <img
            class="decoration"
            src="/momo/images/text-decoration.svg"
            alt=""
          />
          <h2>「モモ」の魅力</h2>
          <p>
            <span class="accent"
              >「物語を読む」という体験を通じて、「時間」について考えたり感じたりすることができます。</span
            >児童文学であり、ファンタジー小説であるからこそ、かたくなりすぎず、より深く、豊かに、普遍的なテーマに触れることができます。<span
              class="accent"
              >そして幻想的な風景描写は私たちを物語の世界により深く連れて行ってくれます。</span
            >児童文学という子供に向けられた小説ではありますが、大人が読んでもそのおもしろさを味わうことができるでしょう。そして、きっと、今までとは違った景色が広がっていくことでしょう。
          </p>
        </section>
        <footer>
          <p class="text-center font-size-l">Momo</p>
          <p class="text-center font-size-l margin-bottom-m">by Michael Ende</p>
          <button class="margin-inline-auto margin-bottom-l"
            ><a href="https://www.amazon.co.jp/dp/4001141272" target="_blank"
              >Amazonで購入する</a
            ></button
          >
          <div class="disclaimer">
            <p class="text-center font-size-s margin-bottom-s">免責事項</p>
            <p class="font-size-s">
              このウェブサイトは、個人によって作成された非公式なサイトです。本サイトは、作者、出版社、またはその他の権利所有者とは一切関係がありません。ここで提供される情報は、個人の解釈と鑑賞に基づくものであり、公式情報とは異なる場合があります。「モモ」およびそれに関連するすべての知的財産権は、それぞれの所有者に帰属します。
            </p>
          </div>
        </footer>
      </main>
    </div>
  </body>
</Layout>

<style define:vars={{ transitionTime }}>
  .image-wrapper {
    min-height: 100lvh;
    position: relative;
    position: sticky;
    top: 0;
  }
  .cover {
    position: absolute;
    width: 100%;
    height: 100lvh;
    object-fit: cover;
  }
  .title {
    position: absolute;
    width: 96%;
    z-index: 10;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .decoration {
    width: 250px;
    margin: 0 auto;
    mix-blend-mode: multiply;
    margin-bottom: 2rem;
  }
  .disclaimer {
    margin-top: 12rem;
  }
  .accent {
    color: var(--color-accent);
  }
</style>
