---
import Loading from "../components/Loading.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
const transitionTime = "1s";
---

<Layout
  title="小説「モモ」紹介サイト"
  description="ミヒャエル・エンデの小説「モモ」を紹介するサイトです。"
>
  <body>
    <Loading />
    <div class="contaigner">
      <div class="image-wrapper">
        <img class="cover" src="/momo/images/cover.avif" alt="" />
      </div>

      <main class="main">
        <section id="table-of-contents" class="table-of-contents">
          <h2>もくじ</h2>
          <ul>
            <li>「モモ」とは？</li>
            <li>あらすじ</li>
            <li>登場人物</li>
            <li>「モモ」の魅力</li>
          </ul>
        </section>
        <section id="about" class="about">
          <img
            class="decoration"
            src="/momo/images/text-decoration.svg"
            alt=""
          />
          <h2>「モモ」とは？</h2>
          <p>
            「モモ」は、ドイツの児童文学作家ミヒャエル・エンデが1973年に発表したファンタジー小説です。この作品は、「時間」という概念を深く洞察し、現代社会にも通じる普遍的なテーマを探求しています。
          </p>
        </section>
      </main>
    </div>
  </body>
</Layout>

<style define:vars={{ transitionTime }}>
  main {
    border-radius: 3rem 3rem 0 0;
    display: grid;
    min-height: 100svh;
    place-content: center;
    background-image: url("/momo/images/paper.png");
    position: relative;
    padding-block: 4rem;
    opacity: 0;
    filter: blur(100px);
    transition:
      opacity var(--transitionTime),
      filter var(--transitionTime);
    &.loaded {
      opacity: 1;
      filter: blur(0px);
    }
  }
  main::before {
    content: "";
    display: block;
    background-image: url("/momo/images/decoration-line.svg");
    background-repeat: repeat-y;
    mix-blend-mode: multiply;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20vw;
  }
  main::after {
    content: "";
    display: block;
    background-image: url("/momo/images/decoration-line.svg");
    background-repeat: repeat-y;
    mix-blend-mode: multiply;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 20vw;
    transform: rotate(180deg);
  }
  .image-wrapper {
    min-height: 100svh;
    position: relative;
    background-color: white;
    position: sticky;
    top: 0;
    & .cover {
      position: absolute;
      width: 100%;
      height: 100svh;
      object-fit: cover;
      opacity: 0;
      filter: blur(100px);
      transition:
        opacity var(--transitionTime),
        filter var(--transitionTime);
    }
    & .cover.loaded {
      opacity: 1;
      filter: blur(0px);
    }
  }
  section {
    display: grid;
    place-content: center;
    margin-block: 6rem;
  }
  h2 {
    text-align: center;
    margin-bottom: 6rem;
  }
  p {
    text-align: left;
    max-width: 60ch;
    line-height: 2;
  }
  li {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
  .decoration {
    width: 250px;
    margin: 0 auto;
    mix-blend-mode: multiply;
    margin-bottom: 2rem;
  }
</style>
