---

---

<div class="loading-screen"></div>
<picture class="loading-title">
  <source
    media="(min-width: 1025px)"
    srcset="/momo/images/title-pc-white.avif"
    sizes="100vw"
    type="image/avif"
  />
  <source
    media="(min-width: 768px)"
    srcset="/momo/images/title-tab-white.avif"
    type="image/avif"
  />
  <source
    media="(max-width: 767px)"
    srcset="/momo/images/title-sp-white.avif"
    type="image/avif"
  />
  <img
    src="/momo/images/title-pc-white.avif"
    alt="タイトル、モモ"
    width="3832"
    height="740"
  />
</picture>

<style>
  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(30, 100%, 50%);
    z-index: 10;
    opacity: 1;
    transition: transform 0.3s ease-in-out;
  }

  .loading-screen.loaded {
    transform: translateY(-100%);
  }

  .loading-title {
    &.loaded img {
      opacity: 0;
    }
    & img {
      position: fixed;
      width: 96%;
      height: auto;
      z-index: 20;
      bottom: 12.5%;
      left: 50%;
      transform: translate(-50%, 0%);
      transition: opacity 0.5s;
      @media (min-width: 768px) {
        bottom: 5%;
      }
      @media (min-width: 1025px) {
        top: 54%;
        transform: translate(-50%, -50%);
      }
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const body = document.querySelector("body");
    const loadingTitle = document.querySelector(
      ".loading-title"
    ) as HTMLElement;
    const loadingScreen = document.querySelector(
      ".loading-screen"
    ) as HTMLElement;

    function hideLoadingScreen() {
      loadingScreen.classList.add("loaded");
      loadingTitle.classList.add("loaded");
    }

    window.addEventListener("load", hideLoadingScreen);

    loadingScreen.addEventListener("transitionend", () => {
      body.style.overflow = "auto";
      loadingScreen.style.display = "none";
    });
    loadingTitle.addEventListener("transitionend", () => {
      loadingTitle.style.display = "none";
    });
  });
</script>
